@import '@/styles/abstracts';

// Grid layout
.card {
  display: flex;
  flex-direction: column;
  background-color: $primary-color-darken;
  padding: 20px;
  border-radius: $border-radius-sm;
  flex: 1 1 200px;

  .avatar {
    margin: 0 auto;
  }

  .card-info {
    margin: 0 auto;
    text-align: center;
    color: $text-color;

    h4 {
      margin-top: 10px;
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
      margin-bottom: $spacer-m;
    }
  }

  .card-buttons {
    width: 100%;
    max-width: 200px;
    @include flex(row, space-evenly, initial);
    margin: 0 auto;

    button {
      height: 40px;
      width: 40px;
      padding: 4px 0 0 0;
      font-size: 17px;
    }
  }
}

// List layout
.list .card {
  height: 180px;
  flex-direction: row;
  flex: 1 1 100%;

  .avatar {
    margin: auto;
  }

  .card-info {
    display: flex;
    padding-left: $spacer-m;
    margin: auto;
    flex: 1 1 100%;

    @include mq($medium) {
      display: initial;
      padding-left: 0;
    }

    > * {
      flex: 1 1 100%;
    }

    h4 {
      margin-top: 0;

      @include mq($medium) {
        padding-right: 0;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  .card-buttons {
    align-items: center;

    @include mq($large) {
      flex-direction: column;
      width: auto;
      margin-left: $spacer-m;
    }
    @include mq($medium) {
      margin-left: 0;
    }
  }
}
