@import '@/styles/abstracts';

header {
  height: 100px;
  @include flex(row, center, stretch);
  background-color: $secondary-color;

  .wrapper {
    @include flex(row, space-between, center);
    flex-wrap: wrap;

    @include mq($small) {
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  .logo-box {
    @include flex(row, center, center);

    img {
      width: 32px;
      height: auto;
    }

    h1 {
      margin: 0;
      padding-left: 15px;
      font-size: 1.2em;
      font-weight: 400;
      text-transform: uppercase;
      color: $text-color;
    }
  }
}
